@font-face{
    src: url("https://fonts.googleapis.com/css?family=Merriweather&display=swap"); 
     src: url("https://fonts.googleapis.com/css?family=Lato&display=swap");
     font-family: 'Merriweather', serif;
     font-family: 'Lato', sans-serif;
 }
 nav ul{
    
     text-align: right;
     margin-right:2%;
 }
 li{
     display: inline;
     list-style-type: none;
     padding-left: 1%; 
     font-family: 'Merriweather', serif;
     color: lightslategray;
 }
 
 
 /* background 3*/
 section:nth-last-of-type(1) {
     background-image: url('..//img/illustration3.png');
     background-repeat:no-repeat;
     background-size: 500px 600px; 
     background-position: right;
     margin-right: 13%;
     margin-bottom: 250px;
     
     
 }
 /* background 2*/
 section:nth-last-of-type(2) {
     background-image: url('..//img/illustration2.png');
     background-repeat:no-repeat;
     background-size: 500px 600px; 
     background-position: left;
     margin-left: 5%;
     margin-bottom: 250px;
    
 }
 /* background 1*/
 section:nth-last-of-type(3) {
     background-image: url('..//img/illustration1.gif');
     background-repeat:no-repeat;
     background-size: 500px 600px; 
     background-position: right;
     margin-bottom: 200px;
    
 }
 main section{
     margin-left:5%;
 
 }
 
 
 h1{
     font-family: 'Merriweather', serif;
     font-size: 80px;
     padding-top:5%; 
 }
 p{
     font-family: 'Lato', sans-serif;
     font-size: 35px;
     color: lightslategray;
     
 }
 
 button{
     width: 8%;
     height: 6%;
     margin-right: 1%;
     border: 0;
     border-radius: 3px;
     font-size: 15px;
 }
 section button:nth-of-type(1){
     font-family: 'Merriweather', serif;
     background-color: #202020;
     color:#fff
 }
 section button:last-of-type{
     background-color: white;
     color:#202020;
     border: 0;
     box-shadow: 1px 2px 2px 2px lightgrey;
     margin-bottom: 8%;
 }
 section:nth-of-type(2) h1{
 
     margin-left: 50%;
 }
 section:nth-of-type(2) p{
 
     margin-left: 50%;
     margin-bottom: 200px;
 }
 
 
 
 
 
 #test h1{
     text-align: center;
 }
 #test p{
     margin: 2% 8%;
     text-align: center;
 }
 
 #test article img{
     width: 24%;
     padding: 4%;
     
 }
 #test{
     margin-bottom: 200px;
 }
 
 
 .test h1{
     text-align: center;
 }
 .test p{
     margin: 2% 8%;
     text-align: center;
 }
 .test article{
     margin-left: 2%;
 }
 .test article img{
     width: 40%;
     padding: 4%;
 }
 .test{
     margin-bottom: 200px;
 }
 
 .last{
     margin-bottom: 150px;
 }
 .last article{
     
     background-color: #c2ebf8;
     margin-left: 40%;
     margin-right: 40%;
     border-radius: 10px;
     padding-bottom: 60px;
     padding-top: 60px;
 
 }
 .last h1{
     text-align: center;
     
 }
 .last p:first-of-type{
     margin: 2% 8%;
     text-align: center;
 }
 .last article h2{
     text-align: center;
     font-family: 'Merriweather', serif;
     font-size: 30px;
 
 }
 .last h3{
     text-align: center;
     font-family: 'Lato', sans-serif;
     font-size: 50px;
 }
 .last p:last-of-type{
     text-align: center;
     color: black;
     font-size: 20px;
     margin-bottom: 40px;
 }
 .last a{
     background-color: #3b5998;
     color: white;
     text-decoration: none;
     border-radius: 5px;
     padding: 10px;
     margin-left: 32%;
     margin-top: 40px;
 }
 footer{
     padding-bottom: 100px; 
 }
 footer h1{
 text-align: center;
 padding-bottom: 100px;
 }
 footer p{
     text-align: center;
 }
 footer p:nth-last-child(2){
     color: black;
 }
 footer ul {
     text-align: center;
 }
 footer ul li:first-of-type{
     margin: 0;
     padding: 0;
 }